@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Yellowtail);

h1 {
  color: orange;
  font-family: 'Yellowtail', cursive;
  font-size: 50;
}

h2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20
}

p {
  color: black
  font-size: 30
}
